.gallery {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-bg);
}

.gallery-photo {
    margin: 0.66%;
    border-radius: 5px;
    display: block;
    height: auto;
    width: calc(32%);
    object-fit: cover;
}

@media (max-width: 768px) {
    .gallery-photo {
        width: calc(100% - 10px);
    }
}
