.footer {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0; /* Stick to the bottom */
    width: 100%;
}

.footer p {
    color: #d4d1c6;
}