.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 auto;
}

.gallery-photo {
    margin: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px;
    display: block;
    height: auto;
    max-width: 30vw; /* Do not mix with max-height! */
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .gallery-photo {
        width: calc(100% - 10px); /* Single column on smaller screens */
    }
}