.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 auto;
    background-color: #333;
}

.gallery-photo {
    margin: 0.6vw;
    border-radius: 5px;
    display: block;
    height: auto;
    max-width: 32vw; /* Do not mix with max-height! */
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .gallery-photo {
        width: calc(100% - 10px); /* Single column on smaller screens */
    }
}